<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :options.sync="options"
    :server-items-length="totalItems"
    :loading="loading"
    class="elevation-0"
  >
    <template v-slot:item.actions="{ item }">
      <router-link
        class="text-decoration-none"
        :to="{ name: 'users.show', params: { id: item.id.toString() } }"
      >
        <v-icon small class="mr-2">
          mdi-eye
        </v-icon>
      </router-link>
      <router-link
        class="text-decoration-none"
        :to="{ name: 'users.edit', params: { id: item.id.toString() } }"
      >
        <v-icon small class="mr-2">
          mdi-pencil
        </v-icon>
      </router-link>
      <v-icon small @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import userService from "../../services/userService";

export default {
  name: "UserList",
  props: {
    filter: String
  },
  data: () => ({
    totalItems: 0,
    items: [],
    loading: true,
    options: {},
    headers: [
      {
        text: "Id",
        align: "start",
        value: "id",
        sortable: false
      },
      { text: "Name", value: "name", sortable: false },
      { text: "Email", value: "email", sortable: false },
      { text: "Address", value: "address", sortable: false },
      { text: "Username", value: "username", sortable: false },
      {
        text: "Actions",
        align: "start",
        value: "actions",
        sortable: false
      }
    ]
  }),
  watch: {
    options: {
      handler() {
        this.getDataFromApi();
      },
      deep: true
    },
    filter() {
      this.getDataFromApi();
    }
  },
  mounted() {
    this.getDataFromApi();
  },
  methods: {
    async getDataFromApi() {
      this.loading = true;
      try {
        const params = {
          page: this.options.page,
          perPage: this.options.itemsPerPage,
          filter: this.filter
        };
        const { data: product } = await userService.get({ params });
        this.loading = false;
        this.items = product.data;
        this.totalItems = product.total;
      } catch (e) {
        console.error(e);
      }
    },
    async deleteItem(user) {
      // eslint-disable-next-line no-restricted-globals,no-alert
      const isConfirm = confirm("Are you sure to delete this user?");

      if (isConfirm) {
        try {
          await userService.delete(user.id);
          await this.getDataFromApi();
        } catch (e) {
          console.error(e);
        }
      }
    }
  }
};
</script>

<style scoped></style>
