<template>
  <validation-observer ref="observer">
    <v-form ref="userForm" @submit.prevent="onSubmit">
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <validation-provider
              v-slot="{ errors }"
              name="name"
              rules="required|max:255"
            >
              <v-text-field
                label="Name"
                v-model="userForm.name"
                :error-messages="errors"
                :counter="255"
              ></v-text-field>
            </validation-provider>
          </v-col>

          <v-col cols="12" md="6">
            <validation-provider
              v-slot="{ errors }"
              name="email"
              vid="email"
              rules="required|email"
            >
              <v-text-field
                label="Email"
                v-model="userForm.email"
                :error-messages="errors"
              ></v-text-field>
            </validation-provider>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="4">
            <validation-provider
              v-slot="{ errors }"
              name="username"
              vid="username"
              rules="required|max:255"
            >
              <v-text-field
                label="Username"
                v-model="userForm.username"
                :error-messages="errors"
                :counter="255"
              ></v-text-field>
            </validation-provider>
          </v-col>
          <v-col cols="12" md="4">
            <validation-provider
              v-slot="{ errors }"
              name="address"
              rules="required|max:255"
            >
              <v-text-field
                label="Address"
                v-model="userForm.address"
                :error-messages="errors"
                :counter="255"
              ></v-text-field>
            </validation-provider>
          </v-col>
          <v-col v-if="!isViewMode" cols="12" md="4">
            <validation-provider
              v-slot="{ errors }"
              name="password"
              :rules="isEditMode ? 'min:6|max:255' : 'required|min:6|max:255'"
            >
              <v-text-field
                label="Password"
                type="password"
                v-model="userForm.password"
                :error-messages="errors"
              ></v-text-field>
            </validation-provider>
          </v-col>
        </v-row>
        <v-row v-if="!isViewMode" justify="end">
          <v-btn type="submit" depressed color="primary">
            {{ isEditMode ? "Update" : "Submit" }}
          </v-btn>
        </v-row>
      </v-container>
    </v-form>
  </validation-observer>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import userService from "../../services/userService";

export default {
  name: "UserForm",
  props: {
    id: String,
    isEditMode: Boolean,
    isViewMode: Boolean
  },
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data: () => ({
    userForm: {
      id: "",
      name: "",
      email: "",
      password: "",
      address: "",
      username: ""
    }
  }),
  computed: {
    onSubmit() {
      return this.isEditMode ? this.updateUser : this.addUser;
    }
  },
  async created() {
    if (this.isEditMode) {
      await this.getUser();
    }
  },
  methods: {
    async addUser() {
      const success = await this.$refs.observer.validate();

      if (!success) {
        return;
      }

      try {
        await userService.create(this.userForm);

        this.$refs.userForm.reset();

        this.$refs.observer.reset();

        await this.$router.push({ name: "users.index" });
      } catch (e) {
        console.error(e);

        if (e.response.status === 422) {
          this.$refs.observer.setErrors(e.response.data.errors);
        }
      }
    },
    async updateUser() {
      const success = await this.$refs.observer.validate();

      if (!success) {
        return;
      }

      const data = {
        ...this.userForm
      };

      if (data.password === "") {
        delete data.password;
      }

      try {
        await userService.update(this.id, data);

        await this.$router.push({ name: "users.index" });
      } catch (e) {
        console.error(e);

        if (e.response.status === 422) {
          this.$refs.observer.setErrors(e.response.data.errors);
        }
      }
    },
    async getUser() {
      try {
        if (this.id) {
          const { data } = await userService.getUser(this.id);
          this.userForm.id = data.id;
          this.userForm.name = data.name;
          this.userForm.email = data.email;
          this.userForm.address = data.address;
          this.userForm.username = data.username;
        }
      } catch (e) {
        console.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
