<template>
  <v-card>
    <v-card-title class="d-flex justify-space-between">
      User List

      <v-btn color="primary" depressed :to="{ name: 'users.create' }"
        >New User</v-btn
      >
    </v-card-title>

    <v-card-text>
      <v-row justify="end">
        <v-col md="3">
          <v-text-field v-model="filter" label="Search" searchable />
        </v-col>
      </v-row>

      <user-list :filter="filter" />
    </v-card-text>
  </v-card>
</template>

<script>
import UserList from "../../components/User/UserList.vue";

export default {
  name: "UserIndex",
  components: {
    UserList
  },
  data: () => ({
    filter: ""
  })
};
</script>

<style scoped></style>
