<template>
  <v-card>
    <v-card-title>
      {{ isEditMode ? `User Id - ${id}` : "Add User" }}
    </v-card-title>

    <v-card-text>
      <user-form :id="id" :isEditMode="isEditMode" :isViewMode="isViewMode" />
    </v-card-text>
  </v-card>
</template>

<script>
import UserForm from "../../components/User/UserForm.vue";

export default {
  name: "UserCreateOrUpdate",
  props: {
    id: String
  },
  components: {
    UserForm
  },
  computed: {
    isEditMode() {
      return this.id !== undefined;
    },
    isViewMode() {
      return this.$route.name === "users.show";
    }
  }
};
</script>

<style scoped></style>
